.mb-3 {
    .ant-select-selector {
        width: 150px !important;
    }
}
.login-container {
    display: flex;
    flex-direction: column; /* Thay đổi hướng xếp hàng */
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: bisque;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    width: 150%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-button {
    width: 150px;
    padding: 10px;
    background-color: #ff7f50;
    height: 45px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; /* Thêm font-family */
}

.login-button:hover {
    background-color: #ff6347;
}
