.modal-order-print{
    width: 700px !important;
    border-radius: 0%;
    .ant-modal-content{
        border-radius: 0%;
    }
    .modal-order-print-content{
        font-size: 14px;
        .dash-line{
            border: 1px dashed black;
            width: 100%;
            height: 1px
          }
        .modal-title{
            text-align: center;
            font-weight: bold;
            .label-name{
                font-size: 18px;
            }
        }
        .modal-body{
            .modal-body-content{
                padding: 5px;
                .content-label{
                    text-decoration:underline;
                    font-weight: bold;
                    font-size: 16px;

                }
            }
        }
        .modal-print-footer{
           // padding: 10px 0px;
            .footer-signature{
                display: flex;
                gap:200px;
               // padding:30px 20px 50px 70px
            }
        }
    }
    
}
.print-notification{
    font-weight: bold;
    padding-left: 20px;
    font-size: 15px;
    &-button{
        padding: 20px 55px;
    }
}

.btn-detail-print{
    height: 40px;
    &:hover{
        background-color: rgb(199, 199, 199);
        color: white !important;
    }
}